<app-header></app-header>
<h1>kitchenette</h1>
<h2>kitchenette</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque nihil aut sapiente a molestiae exercitationem omnis eveniet nulla deleniti perferendis tempora delectus cupiditate error explicabo est corporis doloremque, dolorum labore.
Quod ipsa totam eveniet suscipit ipsum officia numquam magni molestias recusandae culpa voluptatum eum ut quas necessitatibus, veritatis nesciunt repellat ea libero quos alias distinctio? Corporis quam rem nihil ducimus!
Eum iste exercitationem deserunt sed suscipit a vero hic distinctio quis, dicta doloremque mollitia quasi, aliquam voluptatibus laborum omnis nisi incidunt nihil! Dolorem cumque ullam quasi molestias voluptate est laborum.</p>