/* You can add global styles to this file, and also import other style files */
@import "./assets/theme.css";
// @import "primeng/resources/themes/rhea/theme.css";
@import "primeng/resources/primeng.css";

body,
body .p-component {
    font-family: 'Inter';
    color: var(--text-color);
}

h1, h2 {
    font-family: "Playwrite PL";
}